.loc*
__pycache__
LMask*.db
Lmask*
Docs/SAMOS_Manual.aux
Docs/SAMOS_Manual
Docs/SAMOS_Manual.fdb_latexmk
Docs/SAMOS_Manual.fls
Docs/SAMOS_Manual.log
Docs/SAMOS_Manual.out
Docs/SAMOS_Manual.synctex.gz
Docs/SAMOS_Manual.tex
py_mods/database
py_mods/arcID_tests
py_mods/clcache.v2
py_mods/*pyc
jupyterNB_tutorial/jupyter_docs/step_by_step.aux
jupyterNB_tutorial/jupyter_docs/step_by_step.fdb_latexmk
jupyterNB_tutorial/jupyter_docs/step_by_step.fls
jupyterNB_tutorial/jupyter_docs/step_by_step.log
jupyterNB_tutorial/jupyter_docs/step_by_step.synctex.gz
jupyterNB_tutorial/jupyter_docs/step_by_step.tex
logfile
plotfile
ignore_my_test_files/*
jupyterNB_tutorial/jupyter_docs/pipeline_images/*
jupyterNB_tutorial/jupyter_docs/*dia*
jupyterNB_tutorial/logfile
jupyterNB_tutorial/*tex
jupyterNB_tutorial/*checkpoint.ipynb
